extends ./layout/index

block contenido
    main.c-entradas 
        .c-entradas__contenedor
            .c-entradas__categorias
                ul.c-entradas__categorias-ul
                    each categoria in categorias
                        a.c-entradas__categorias-li(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
            each categoria in categorias
                .c-entradas__listado
                    .c-entradas__listado-titulo
                        a(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
                        i.fa-solid.fa-chevron-right
                        i.fa-solid.fa-chevron-right
                    if(categoria.id == 1)
                        ul.c-entradas__listado-grid
                            each entrada in entradas
                                if(categoria.id == entrada.tipoId)
                                    li.c-entradas__noticia
                                        .c-entradas__noticia-img
                                            a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                img(src=`/assets/img/${entrada.imagen}` alt=`imagen noticia`)
                                        .c-entradas__noticia-contenido
                                            .c-entradas__noticia-titulo
                                                a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                    h5 #{entrada.titulo}
                                            .c-entradas__noticia-cuadro
                                                a.c-entradas__noticia-categoria(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
                                                span.c-entradas__noticia-fecha #{entrada.updatedAt}
                                            p.c-entradas__noticia-texto #{entrada.desarrollo}
                    else if(categoria.id == 2 || categoria.id == 3 || categoria.id == 4 || categoria.id == 5 || categoria.id == 6)    
                        ul.c-entradas__listado-grid--mod
                            each entrada in entradas
                                if(categoria.id == entrada.tipoId)
                                    li.c-entradas__noticia
                                        .c-entradas__noticia-img--mod
                                            a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                img(src=`/assets/img/${entrada.imagen}` alt=`imagen noticia`)
                                        .c-entradas__noticia-contenido
                                            .c-entradas__noticia-titulo
                                                a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                    h5 #{entrada.titulo}
                                            .c-entradas__noticia-cuadro
                                                a.c-entradas__noticia-categoria(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
                                                span.c-entradas__noticia-fecha #{entrada.updatedAt}
                                            p.c-entradas__noticia-texto--mod #{entrada.desarrollo}

    script(type="module", src="/js/entradas.js") 