extends ./layout/index

block contenido
    main.c-entradaDetalle     
        .c-entradaDetalle__contenedor
            .c-entradaDetalle__categorias
                ul.c-entradaDetalle__categorias-ul
                    each cat in todasCategorias
                        a.c-entradaDetalle__categorias-li(href=`/entradas/${cat.categoria}`) #{cat.categoria}
            .c-entradaDetalle__noticia
                each entr in entrada
                    h5.c-entradaDetalle__titulo #{entr.titulo}
                    .c-entradaDetalle__comentario 
                        p.c-entradaDetalle__comentario-fecha #{entr.updatedAt}
                        a.c-entradaDetalle__comentario-i(href="#comentarios")
                            i.fa-regular.fa-comment
                        a.c-entradaDetalle__comentario-p(href="#comentarios") Deja tu comentario
                    .c-entradaDetalle__img
                        img(src=`/assets/img/${entr.imagen}` alt=`imagen noticia`)
                    p.c-entradaDetalle__texto #{entr.desarrollo}
            .c-entradaDetalle__boxRecientes 
                h3.c-entradaDetalle__recientes Artículos más recientes 
                .c-entradaDetalle__grid
                    each entrada in entradasRecomendadas 
                        each categoria in todasCategorias
                            if(categoria.id == entrada.tipoId)
                                li.c-entradaDetalle__noticiasRecientes
                                        .c-entradaDetalle__noticiasRecientes-img--mod
                                            a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                img(src=`/assets/img/${entrada.imagen}` alt=`imagen noticia`)
                                        .c-entradaDetalle__noticiasRecientes-contenido
                                            .c-entradaDetalle__noticiasRecientes-titulo
                                                a(href=`/entradas/${categoria.categoria}/${entrada.titulo}`)
                                                    h5 #{entrada.titulo}
                                            .c-entradaDetalle__noticiasRecientes-cuadro
                                                a.c-entradaDetalle__noticiasRecientes-categoria(href=`/entradas/${categoria.categoria}`) #{categoria.categoria}
                                                span.c-entradaDetalle__noticiasRecientes-fecha #{entrada.updatedAt}
                                            p.c-entradaDetalle__noticiasRecientes-texto--mod #{entrada.desarrollo}
            .c-entradaDetalle__boxComentarios(id="comentarios")
                h3.c-entradaDetalle__h3 Comentarios
                form.c-entradaDetalle__form(action="/", method="POST")
                    h5.c-entradaDetalle__form-h5 Deja tu comentario
                    .c-entradaDetalle__form-contenedor
                        .c-entradaDetalle__fieldset
                            fieldset.c-entradaDetalle__fieldset-fieldset
                                p Tu alias:
                                input.js-entradaDetalle__fieldset-alias(type="text", name="alias") 
                            fieldset.c-entradaDetalle__fieldset-fieldset
                                p Deja tu comentario:
                                input.js-entradaDetalle__fieldset-comentario(type="textarea", name="texto") 
                            fieldset.c-entradaDetalle__fieldset--mod
                                input.c-button.c-button--amarillo.c-entradaDetalle__fieldset-input.js-entradaDetalle__fieldset-boton(type="submit", value="enviar")
                        ul.c-entradaDetalle__normas
                            li.c-entradaDetalle__normas-li Normas de uso:
                            li.c-entradaDetalle__normas-li Se reserva el derecho a eliminar aquellos comentarios que: 
                            li.c-entradaDetalle__normas-li No se ajusten al tema del artículo.
                            li.c-entradaDetalle__normas-li Contengan mensajes ofensivos, discriminatorios, racistas o xenófobos. 
                            li.c-entradaDetalle__normas-li Promuevan o apoyen actividades ilegales. 
                            li.c-entradaDetalle__normas-li Suministren información acerca de usuarios sin su consentiento.
                            li.c-entradaDetalle__normas-li Contengan spam. 
                .js-entradaDetalle__contenedorMensaje








    script(type="module", src="/js/entradaDetalle.js") 