extends ./layout/index

block slider 
    .c-slider 
        .c-slider__contenedor
            h1 #{nombreSitio}
            em aventura

block contenido
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}
    h1 #{pagina}